<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="TenantId" value="{Your Azure AD Tenant ID}"/>
    <add key="ClientId" value="{Your Azure AD Client ID}"/>
    <add key="RedirectUri" value="{Your Azure AD Redirect Uri}"/>
  </appSettings>
</configuration>